.App {
    height: 100vh;
    width: 100%;
    background-color: rgb(110, 110, 110);
}


.Container {
    display: flex;
}

.LeftBlock {
    width: 30%;
    margin: 5px;
    background-color:#ffff;
}

.Menu {
    width: 100%;
    display: flex;
    background-color:#ffff;
}

.ImgItem {
    margin: 0 auto;
    margin-left: 30%;
}

.Title {
    text-align: center;
}

.MenuItem:hover {
    background-color: steelblue;
    border: blue;
    cursor: pointer;
}

.MenuItem {
    display: block;
    margin: 0 auto;
}

.Main {
    width: 70%;
    align-items: center;
    margin: 5px;
    background-color:#ffff;
}

.LeftBlockItem {
    display: flex;
}

.ImgLeftItem {
    width: 16px;
    height: 16px;
    margin: 5px;
}

