.App {
    height: 100vh;
    width: 100%;
    background-color: rgb(110, 110, 110);
}

.Container {
    display: flex;
    height: 90%;
}

.LeftBlock {
    width: 30%;
    margin: 5px;
    background-color:#ffff;
}

.Menu {
    width: 100%;
    display: flex;
    background-color:#ffff;
}

.Legend {
   font-size: small;
    display: flex;
    align-self: flex-start;
   padding: 3 px 6px;
   
}

.InfoDate {
    padding: 2px;
    margin-top: 10px;
    margin-left: 2px;
    width: 200px;
    display: flex;
    border: 1px solid #888; 
}

.TextDate {
    width: 100px;
    
}

.Date {
    width: 200px;
    border: 1px solid #888; 
}

.ImgItem {
    margin: 0 auto;
    margin-left: 30%;
}

.Title {
    text-align: center;
}

.MenuItem:hover {
    background-color: steelblue;
    border: blue;
    cursor: pointer;
}

.MenuItem {
    display: block;
    margin: 0 auto;
}

.Main {
    width: 70%;
    align-items: center;
    margin: 5px;
    background-color:#ffff;
}

.LeftBlockItem {
    display: flex;
}

.ImgLeftItem {
    width: 16px;
    height: 16px;
    margin: 5px;
}

